.post__input {
  margin: 15px;
  padding: 10px 0;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post__input textarea {
  resize: none;
  margin: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 25px;
  padding: 15px 15px;
  font-family: "Rubik", sans-serif;
  text-align: center;
  width: 85%;
}

.post__input textarea::placeholder {
  color: #a6a9b6;
}

.post__input textarea:focus {
  outline: none;
}
