.search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__wrapper p {
  margin: 30px;
  font-size: 1.2rem;
}

.search__wrapper h3 {
  margin: 10px;
}

.ind__user {
  width: 550px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 5px;
}

.ind__user img {
  width: 50px;
  object-fit: contain;
  border-radius: 50%;
}

.ind__user p {
  font-size: 1.3rem;
}
