.wrapper {
  padding: 30px;
  border: 1px solid #325288;
}

.user {
  display: flex;
}

.image__div {
  text-align: center;
  flex: 1;
}

.user__info__div {
  text-align: center;
  flex: 3;
}

.user__info__div h2 {
  margin-bottom: 20px;
}

.user__info__div > p {
  margin-top: 20px;
}

span {
  word-spacing: 2px;
  margin: 2px;
}

.first__span span {
  margin: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.user img {
  margin: 20px 0;
  border-radius: 50%;
  width: 150px;
}

.user__page__posts {
  justify-content: center;
  display: flex;
}

.user__page__posts > div {
  padding: 30px;
  padding-bottom: 15px;
  margin: 20px;
  border: 1px solid #325288;
}

.user__page__posts h4 {
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  font-size: 0.9rem;
}

.footer p {
  margin-right: 20px;
}

.footer span {
  margin-left: auto;
}

.counts__div {
  color: #2978b5;
  font-weight: 700;
  word-spacing: 3px;
  margin-bottom: 5px;
}
